* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  background: black;
}

body {
  perspective: 35em;
  -webkit-perspective: 35em;
}

.cube {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-origin: 150px 150px 0;
  -webkit-transform-origin: 150px 150px 0;
  -moz-transform-origin: 150px 150px 0;
  -o-transform-origin: 150px 150px 0;
  -ms-transform-origin: 150px 150px 0;
}

.cube > div {
  position: absolute;
  width: 300px;
  height: 300px;
  border: 3px solid rgba(0, 102, 255, 1);
  background: rgba(0, 102, 255, 0.5);
}

.front {
  transform: translateZ(150px);
  -webkit-transform: translateZ(150px);
  -moz-transform: translateZ(150px);
  -ms-transform: translateZ(150px);
  -o-transform: translateZ(150px);
}
.top {
  transform: rotateX(90deg) translateZ(150px);
  -webkit-transform: rotateX(90deg) translateZ(150px);
  -moz-transform: rotateX(90deg) translateZ(150px);
  -ms-transform: rotateX(90deg) translateZ(150px);
  -o-transform: rotateX(90deg) translateZ(150px);
}
.right {
  transform: rotateY(90deg) translateZ(150px);
  -webkit-transform: rotateY(90deg) translateZ(150px);
  -moz-transform: rotateY(90deg) translateZ(150px);
  -ms-transform: rotateY(90deg) translateZ(150px);
  -o-transform: rotateY(90deg) translateZ(150px);
}
.left {
  transform: rotateY(-90deg) translateZ(150px);
  -webkit-transform: rotateY(-90deg) translateZ(150px);
  -moz-transform: rotateY(-90deg) translateZ(150px);
  -ms-transform: rotateY(-90deg) translateZ(150px);
  -o-transform: rotateY(-90deg) translateZ(150px);
}
.bottom {
  transform: rotateX(-90deg) translateZ(150px);
  -webkit-transform: rotateX(-90deg) translateZ(150px);
  -moz-transform: rotateX(-90deg) translateZ(150px);
  -ms-transform: rotateX(-90deg) translateZ(150px);
  -o-transform: rotateX(-90deg) translateZ(150px);
}
.back {
  transform: rotateY(-180deg) translateZ(150px);
  -webkit-transform: rotateY(-180deg) translateZ(150px);
  -moz-transform: rotateY(-180deg) translateZ(150px);
  -ms-transform: rotateY(-180deg) translateZ(150px);
  -o-transform: rotateY(-180deg) translateZ(150px);
}

@keyframes spin {
  from {
    transform: rotateY(0);
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
  }
}

.cube:hover {
  animation: spin 10s linear 3;
  -webkit-animation: spin 10s linear 3;
  -moz-animation: spin 10s linear 3;
}
